body{
    
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
}
footer{
    grid-area: footer;
}
.border{
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
}
.container{
    grid-area: header;
    padding: 2.25rem 0;
}
.feature{
    grid-area: main;
}
.subheader{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: -0.045em;
}
.subheader-secondary{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.75rem;
}
.subheader-paragraph{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-top: 1em;
}
img{
    max-width: 100%;
    height: auto;
}
.container-grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.85rem;
    margin-bottom: 7em;
}
.grid__wrapper:nth-child(2n){
    transform: translateY(3rem);
}
.grid__wrapper-item{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    gap: 0.625rem 0.125rem;
}
.grid__name{
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    display: grid;
    grid-area: 2/1/ span 1/span 1;
}
.grid__position{
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: 400;
    font-style: normal;
    line-height: 0.875rem;
    writing-mode: vertical-lr;
    display: grid;
    grid-area: 1/2/ span 1/span 1;
    gap: 1;
    
}
.main-footer{
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}
span{
    text-transform: uppercase;
}

@media(min-width:800px){
    .subheader-paragraph,
    .grid__name{
        font-size: 1.125rem;
    }
    .grid__position{
        font-size: 0.75rem;
    }
}
@media(min-width:920px){
    .wrapper{
        gap: 3rem;
    }
    .container{
     align-items: center;
     display: flex;
     
    }
    .subheader-paragraph{
        width: 70%;
    }
    .header{
        width: 100%;
    }
    .grid__wrapper:nth-child(2n){
        transform: unset;
    }
    .grid__wrapper:nth-child(2),
    .grid__wrapper:nth-child(5){
        transform: translateY(6rem);
    }
    .container-grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 8rem 3rem;
        margin-bottom: 14em;
    }
    .grid__position{
        margin-left: 0.65em;
    }
.grid__wrapper-item{
    row-gap: 1rem;
}
}